.buttonCard {
    width: 100%;
    padding: 5px;
    background: white;
    border-radius: 5rem;
    border: 1px solid rgba(0,0,0,.125);
    text-align: left;
}

#AddCardBody {
    max-width: 43.875rem;
    margin: auto;
}

.buttonCard:hover{
    opacity: 50%;
}